[client]
port                    = 3306
default-character-set   = utf8mb4

[mysqld]
user                    = mysql
port                    = 3306
sql_mode                = NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

default-storage-engine  = InnoDB
default-authentication-plugin   = mysql_native_password
character-set-server    = utf8mb4
collation-server        = utf8mb4_unicode_ci
init_connect            = 'SET NAMES utf8mb4'

log-bin = mysql-bin
binlog-format = row
server-id = 1

slow_query_log
#long_query_time         = 3
slow-query-log-file     = /var/log/mysql/mysql.slow.log
log-error               = /var/log/mysql/mysql.error.log

default-time-zone       = '+8:00'

# innodb locks
# 根据实际情况调整
innodb_status_output=ON
innodb_status_output_locks=ON
innodb_print_all_deadlocks=ON

[mysql]
default-character-set   = utf8mb4